<Server port="8000" shutdown="SHUTDOWN" debug="0">
  <Service name="Tomcat-Standalone">
    <Connector className="org.apache.coyote.tomcat4.CoyoteConnector" port="8080"
               maxThreads="75" address="0.0.0.0"
               enableLookups="false" redirectPort="8443" acceptCount="10" debug="0" connectionTimeout="20000"
               scheme="@@PROXY_SCHEME@@" proxyName="@@PROXY_NAME@@" proxyPort="@@PROXY_PORT@@"
               useURIValidationHack="false" URIEncoding="UTF-8"/>

    <Engine name="Standalone" defaultHost="localhost" debug="0">
      <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="false">
        <Context path="" docBase="/srv/wiki/base/confluence" debug="0" reloadable="false" useHttpOnly="true">
          <!-- Logger is deprecated in Tomcat 5.5. Logging configuration for Confluence is specified in confluence/WEB-INF/classes/log4j.properties -->
          <Manager pathname="" />

          <!-- to simplify going through wizard, expose a fully configured DataSource -->
          <Resource name="jdbc/wiki" auth="Container" type="javax.sql.DataSource"
                    maxActive="30" maxIdle="30" maxWait="10000"
                    username="@@DB_USER@@" password="@@DB_PASSWORD@@" driverClassName="@@DB_JDBC_DRIVER@@"
                        url="@@DB_JDBC_URL@@"/>
        </Context>

        <!-- Tomcat manager is used to invalidate sessions. This helps fighting with ongoing spams -->
        <Context path="/tomcat-manager" docBase="/srv/wiki/site/tomcat-manager.war" privileged="true" unpackWARs="false">
          <Realm className="org.apache.catalina.realm.JNDIRealm"
                 connectionURL="ldap://ldap.jenkins-ci.org:389"
                 userPattern="cn={0},ou=people,dc=jenkins-ci,dc=org"
                 roleBase="ou=groups,dc=jenkins-ci,dc=org"
                 roleName="cn"
                 roleSearch="(member={0})"/>
        </Context>
      </Host>
    </Engine>
  </Service>
</Server>
